@layer rpsbase {
  .rps-root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .rps-root *,
  .rps-root *::before,
  .rps-root *::after {
    box-sizing: border-box;
  }
}